<div class="m-5 d-flex flex-wrap">
  <h2 class="w-100 text-center my-5">Invoice Details</h2>
  <div class="input-container d-flex flex-column w-50">
    <h4 class="w-100 text-center my-3">Rechnung Adresse:</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
  </div>
  <div class="output-container d-flex flex-column w-50">
    <h4 class="w-100 text-center my-3">Rechnung Details:</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum perspiciatis possimus quibusdam quis ratione
      sit, veritatis! Ab accusantium alias beatae blanditiis commodi consectetur consequuntur corporis cupiditate
      deserunt dignissimos dolorem eligendi et ex excepturi impedit in laboriosam magni minus molestiae odio optio
      placeat praesentium quaerat quibusdam recusandae, sint sit soluta suscipit voluptatem voluptatibus? A aliquam
      aspernatur autem, consequuntur delectus deserunt dignissimos distinctio dolor doloremque dolores eius eligendi
      enim est et eveniet ex explicabo harum impedit laborum libero magnam maiores minus necessitatibus neque nulla
      odio, odit pariatur porro praesentium quam quis quod saepe sapiente similique ut vel voluptatem? Consectetur
      laborum, non.
    </p>
  </div>
    <a mat-raised-button color="accent" class="mx-auto my-5 w-25 d-block text-white text-decoration-none"
    href="/#" (click)="onOkClick()">
      OK
    </a>
</div>

