<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper m-auto d-flex flex-column">
  <mat-toolbar [color]="'accent'" class="d-flex justify-content-between">
    <div class="col-md-12 d-flex m-auto flex-row justify-content-between align-items-center">
      <ul class="list-unstyled m-0 d-flex">
        <li class="d-flex align-items-center nav-link"><h1 class="border rounded px-2">Shell-app</h1></li>
        <li><a href="#/module-a" class="btn-link nav-link text-white border-left">Katalog</a></li>
        <li><a href="#/module-a" class="btn-link nav-link text-white border-left">Dashboard</a></li>
      </ul>
      <button mat-raised-button color="primary" class="h-50">Anmelden</button>
    </div>
  </mat-toolbar>
  <div id="content" class="flex-grow-1 col-md-12 m-auto">
  </div>
  <mat-toolbar [color]="'accent'">
    <div class="col-md-12 m-auto">
      <h1>Footer</h1>
    </div>
  </mat-toolbar>
</div>

